#header {
    height: 50px;
    background: #2b2d42;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #2b2d42
}

div.breadcrumbs {
    background: #30caa0;
    color: #2b2d42;
}

div.breadcrumbs a {
    color: #333
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2b2d42;
    color: #fff;
}